pre{
    color:blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
a{
    color:blue;
}

p{
    border:2px solid black;
    padding: 0.4px;
    margin:2px;
}
table{
    border:2px solid black;
    padding: 2px;
    margin:2px;
}
div{
    color:aliceblue;
    background-color: red;
}

.city{
    color:rebeccapurple;
    font-family: 'Courier New', Courier, monospace;
}